doctype html 
html(lang='es', ng-app="myapp")
   head
      meta(charset="UTF-8")
      title Gráficas 
      link(rel="stylesheet", href="../css/css-rickshaw.css")
      include ../rickshaw/rickshaw-head.jade
   body(style = "cursor: auto;")
      include ../rickshaw/rickshaw-body-act-sen.jade
      include ../rickshaw/rickshaw-body-script.jade
      script(src="../js/cliente.sensor.tiempoReal.js")
      script(src="../js/cliente.actuador.tiempoReal.js")
      script(src="../js/cliente.mixto.hum.alarma.js")