div(id="content",ng-controller="controlador1")
   form(id="side_panel")
      h1=title  
      section
         div(id="legend1", class="rickshaw_legend")
   div#chart_container
      div(id="chart1")
      div(id="preview1")
br
div(id="content_A",ng-controller="controlador")
   form(id="side_panel_A")
      h1=titleActuador  
      section
         div(id="legend", class="rickshaw_legend")
   div#chart_container_A
      div(id="chart", style="top:55px")
      div(id="preview")