[Unit]
Description=Enlace Sensores - Base de Datos
After=sensores-mosca.service

[Service]
ExecStart=/usr/bin/node /root/sensores-ambientales-datacenter/mqtt/suscriptores/subSensorBD.js

[Install]
WantedBy=multi-user.target

