link(rel="stylesheet", href="../css/rickshaw/jquery-ui.css")
link(rel="stylesheet", href="../css/rickshaw/graph.css")
link(rel="stylesheet", href="../css/rickshaw/detail.css")
link(rel="stylesheet", href="../css/rickshaw/legend.css")
link(rel="stylesheet", href="../css/rickshaw/extensions.css")
