script(src="../js/rickshaw/d3.v3.js")
script(src="../js/rickshaw/jquery.min.js")
script(src="../js/rickshaw/noconflict.js")
script(src="../js/rickshaw/jquery-ui.min.js")
script(src="../js/rickshaw/res/rickshaw.ext.js") 
script(src="../js/angular.min.js")
script(src="/socket.io/socket.io.js")
script(src="../js/config/socket.js")